[Oo]bj/
[Bb]in/

.ionide/
.idea/
.nuget/
.vs/
.vscode/
!.vscode/settings.json

packages/
# NCrunch
_NCrunch_MainSW/
.NCrunch_MainSW/

*.feature.cs
_ReSharper.*
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
*.cache

# NCrunch
*.ncrunch*.user
_NCrunch_*
*.crunch.xml
nCrunchTemp_*

.env
*.g.cs
*.cs.orig

coverage.xml*
AltCover*
**/cobertura.xml

